@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html{
  font-family: 'Open Sans', sans-serif;

}
*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font: inherit;
}

body{
  background-image: url(/img/Felt-Green.jpg);
  background-size: cover;
}

h1{
  font-size: 25px;
}
h3{
  font-size: 20px;
}

.pageTitle{
  font-size: 30px;
  font-weight: bold;
  margin-left: 15px;
}
#header {
  padding-left: 15px;
  font-size: auto;
  background-color: #DB776B;
  margin-bottom: 15px;
}
nav {
  display: inline;
}
nav ul li{
  text-decoration: none;
  margin: 15px;
  display: inline;
}

.gambler{
  position: relative;
  vertical-align: top;
  padding: 10px;
  background-color: #DDD;
  margin: 10px;
  display: inline-block;
  border: 2px solid black;
  max-width: 30%;
  overflow: hidden;
}

.gambler img{
  max-width: 200px;
}

.gambler ul {
  list-style: auto;
  padding: 5px;
}

.gambler ul img{
  max-width: 50px;
}

.gambler .asset{
  position: relative;
  border: 1px dotted black;
  margin-top: 10px;
}

.gambler .assetInfo{
  font-weight: bold;
  background-color: #BF979A;
  border: 2px solid black;
  font-size: 10px;
  max-width: 60px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 5px;
}
