extends ../shared/template
block content
  h2.pageTitle Add a Gambler
  .form
    form(method='post', action='/gamblers')
      input(name='name', type='text', placeholder='Gamber Name', autofocus=true)
      input(name='photo', type='text', placeholder='Photo URL')
      input(name='spouse[name]', type='text', placeholder='Spouse Name')
      input(name='spouse[photo]', type='text', placeholder='Spouse Photo URL')
      input(name='cash', type='text', placeholder='Cash')
      button.blue Create
